<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>assets</key>
			<array>
				<dict>
					<key>kind</key>
					<string>software-package</string>
					<key>url</key>
					<string>https://mzwl.oss-cn-beijing.aliyuncs.com/32-1526175529.ipa</string>
					<key>New item</key>
					<string></string>
				</dict>
				<dict>
					<key>kind</key>
					<string>display-image</string>
					<key>url</key>
					<string>https://raw.githubusercontent.com/ichampionT/ZZXOAPublish/master/57*57.png</string>
				</dict>
				<dict>
					<key>kind</key>
					<string>full-size-image</string>
					<key>url</key>
					<string>https://raw.githubusercontent.com/ichampionT/ZZXOAPublish/master/512*512.png</string>
				</dict>
			</array>
			<key>metadata</key>
			<dict>
				<key>bundle-identifier</key>
				<string>com.tianmashikong.qmqj.xymu</string>
				<key>bundle-version</key>
				<string>1.6</string>
				<key>kind</key>
				<string>software</string>
				<key>title</key>
				<string>墨子游戏</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
